;
; BIND data file for domain: git
;
$TTL    604800
@       IN      SOA     git. root.git. (
			{BIND_DB_GIT_SERIAL}	; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      {BIND_DB_GIT_HOSTNAME}.
@       IN      NS      git.
@       IN      A       {BIND_DB_GIT_IP_ADDR}
@       IN      AAAA    ::1
{BIND_DB_GIT_HOSTNAME}.   IN      CNAME   git.
_git._tcp  IN      SRV     5 10 1234 {BIND_DB_GIT_HOSTNAME}.
